#gameArea {
    border: 2px solid none;
    width: 70vw;
    height: 70vh;
    margin-left: 15%;
    background-color: rgb(153, 76, 0);

}

h1 {
    text-align: center;
    padding: 1%;
    font-family: arial;
    color: rgb(102, 0, 0);

}

#boxWithImg {
    margin-left: 10%;
}


.box {

    width: fit-content;
    height: 15vh;

}



.imgBox {
    width: 18vw;
    height: 100%;
    text-align: center;

    border: 2px solid black;
    padding: 2px;
    float: left;

}

h2 {
    text-align: center;

}